@tailwind base;
@tailwind components;
@tailwind utilities;
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f472b6 #fbcfe8;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: #fbcfe8;
}

*::-webkit-scrollbar-thumb {
  background-color: #f9a8d4;
  border-radius: 20px;
  border: 2px solid #fbcfe8;
}
