.song_time {
  width: 100%;
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.time {
  width: 100%;
  background-color: #5e5e5e;
  height: 0.50rem;
  border-radius: 3px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  color: white;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 100%;
}

.volume {
  height: 100%;
  width: 48px;
}

.air {
  height: 100%;
  width: 48px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #1db954;
}

.controls .heart:hover {
  color: pink;
}

.volume {
  opacity: 0;
  position: relative;
  transition: 0.2s;
}

.volume .slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin-left: 0.3rem;
}

.volume .slider .green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.volume .circle {
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.volume_button:hover ~ .volume {
  opacity: 1;
}

.timetext {
  color: white;
}

.time_now {
  font-size: 0.8rem;
  background-color: #00000060;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-blend-mode: multiply;
}

.time_full {
  font-size: 0.8rem;
  background-color: #00000060;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-blend-mode: multiply;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}
