/* From Uiverse.io by vinodjangid07 */
.file_upload_form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file_upload_label svg {
  height: 50px;
  fill: #ec4899;
  margin-bottom: 20px;
}
.file_upload_label {
  cursor: pointer;
  background-color: #fdf2f8;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed #f9a8d4;
}
.file_upload_design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse_button {
  background-color: #ec4899;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse_button:hover {
  background-color: #f472b6;
}
